*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#hOne {
    padding-top: 40px;
    font-size: 25px;
}

#hTwo {
    font-size: 60px;
}

#hThree {
    letter-spacing: 5px;
}

p {
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
}

div {
    text-align: center;
}
li {
    display: inline;
    margin: 80px;
    text-align: center;
    font-size: 25px;
}

